.aboutSection{
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.rowContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.aboutImage{
  border-radius: 5px;
  width: 100px;
  height: 100px;
}


.aboutMeContent{
  align-items: start;
  text-align: left;
  padding-left: 50px;
  justify-content: space-between;


  p{
    text-align: justify;
  }
  h2{
    color: #147efb;
  }
  h1{

  }
}

@media only screen and  (max-width: 1000px){
  .rowContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: justify;

  }

  .aboutMeContent{
    align-items: center;
    // text-align: left;
    // padding-left: 50px;
    justify-content: space-between;
    padding: 0;
    width: 90%;

  
    p{
      text-align: center;
      line-height: 1.6;
      font-weight: 600;
      color: #767676;
    }
    h2{
      color: #147efb;
    }
    h1{
  
    }
  }

  .aboutImage{
    border-radius: 5px;
    width: 90vw;
    height: 25vh;
  }
}
